h3{
    font-size: 30px;
    font-variant:inherit;
    color:rgb(134, 0, 74)
  }

/* default (smartphone) */
@media (min-width: 576px){
    .foto > img {
        width: 60%;
    }
}

/* tablet */
@media (min-width: 768px){
    .foto > img {
        width: 80%;
    }
}

/* pc */
@media (min-width: 992px){
    .foto > img {
        width: 60%;
        text-align:justify;
    }
}

.me {
    width: 300px;
    object-fit: cover;
    border-style: dashed;
    border-color: rgb(18, 165, 190);
    }
    
    .nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    .nav li {
        float: left;
    }

    .nav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .nav li a:hover {
        background-color: rgb(184, 88, 88);
    }

    body {
        background-image: url(./gii.gif);
        background-size: contain;
        background-repeat: no-repeat;
        background-color: rgb(244, 251, 255);
    }

    td {
        background-color: rgb(225, 248, 248);
    }

    th {
        background-color: rgb(207, 252, 252);
    }

    h1 {
        color: rgb(10, 118, 118);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: oblique;
        border-color: aqua;
    }
